example/
epspdfplots/
pdfdataFit/
tmp/
xmlData/
include/
lib/
indata/
data/aerogel_xml_ver3_Tmp_L/
data/aerogel_xml_ver3_Tmp_R/
data/transT_markup_data/dataL/
data/transT_markup_data/dataR/
*~
*.eps
*.pdf
*.ps
*.gif
rootdata
xmlArichData2Graph
pdfdatatmp
pdfdata
_TGraph
plots
list_TGraph
dataDiffInfo
outplots
centraldb
readAerogelInfoMap
aerogelDataFromDB
TabataSan
makeGraphFromFile.C
obj
runARICHAerogelHist
xmlreadfile
fitAbsorptionLength
fitAllAbsLen
saveXMLdataVector
convertdx2xml
runARICHcablesMaterial
read_merger_positions
read_temperature_meas
printNumber_of_channels_chips_HAPD_mergers_sectors
fitAllAbsLen3.0.log
fitAllAbsLen3.0_L.log
fitAllAbsLen3.0_R.log
xml.tmp
libxmlarichdataDict.cxx
libxmlarichdataDictLib.so
libxmlarichdataDict_rdict.pcm
Makefile.log
plotARICHmaterialbudget.C
averaged_RAYLEIGH_RrefractiveIndex_thickness.root
ARICH-Materials-Aerogel.xml
generateXmlAerogelMaterialFile
xmlarichdatacompilation.npz
matscan/
convert_npz_ASCII_to_root
ARICHMaterialScan.root
printSuperKEKBpar
toyMC_trg
toyMC_trg.root
root-util/
anaSCT/
log
rootFileList_2018-09-21.dat
rootFileList_2018-09-21.dat.time
rootFileList_2018-09-30.dat
rootFileList_2018-09-30.dat.time
rootFileList_2018-10-01.dat
rootFileList_2018-10-01.dat.time
hist.root
hist_2018-09-21.root
hist_2018-09-30.root
hist_2018-10-01.root
convertDataFebMergerTemperatureSlowControl
convertGL840csv
dataGL840/
cellStrTest_main
saveTessellatedSolidVerticesToXML_main
saveTessellatedSolidVerticesToXML_test.xml
saveTessellatedSolidVerticesToXML_test.dat
rootFileList_181017-135745_181018-114805.dat
rootFileList_181116-155044_181118-134000.dat
bash_template/
run_convertGL840csv.bash
run_plotsGL840csv.C
run_plotsGL840csv_Power.C
run_runanaGL840.bash
